[Desktop Entry]
Version=0.2
Encoding=UTF-8
Name=gwibber
Type=Application
Comment=Status management client for GNOME
Exec=gwibber
Icon=gwibber.svg
Categories=Internet
GenericName[en_US]=
