[Desktop Entry]
Version=0.7
Encoding=UTF-8
Name=Gwibber Microblogging Client
Type=Application
Comment=Microblogging client for GNOME
Exec=gwibber
Icon=gwibber.svg
Categories=Network
GenericName=Microblogging Client
