[Desktop Entry]
Version=0.2
Encoding=UTF-8
Name=gwibber
Type=Application
Comment=Microblogging client for GNOME
Exec=gwibber
Icon=gwibber.svg
Categories=Network
GenericName=Microblogging Client
