body {
  word-break: break-word;
  color: #222;
  font-size: 9px;
  font-family: "Lucida Grande", Sans-serif;
  margin: 4px;
  margin-right: 1px;
}

a {
  color: #204a87;
  outline: none;
}

.time a { color: #666 }
a:hover { text-decoration: underline; }


td { vertical-align: top; }

p { line-height: 125% }

.message {
  padding: 5px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  -webkit-border-radius: 7px;
  display: block;

  background: rgba(0,0,0,0.1);
  border: 1px solid #aaa;
}

.content {
  margin-top: 0px;
  font-size: 95%;
}

.title {
  font-size: 105%;
  font-weight: bold;
}

.time a {
  text-decoration: none;
  font-size: 80%;
}

.imgbox {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  -webkit-background-size: 100% 100%;
  background-image: url('');
  background-repeat: no-repeat;
  -webkit-border-radius: 3px;
  -webkit-box-reflect:below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.6, transparent), to(rgba(0,0,0, 0.6)));
}

.inlinenick {
  text-decoration: none;
  font-weight: bold;       
}

.messages h1 {
  text-align: center;
}

.replybutton {
  float: right;
  display: none;
  margin: 0px;
  padding: 0px;
  margin-top: -15px;
}

.diggbox {
  -webkit-border-radius: 7px; 
  margin-right: 5px;
  padding: 1px;
  text-align: center;
  color: black;
  text-shadow: none;
  background: -webkit-gradient(linear, left top, left 220%, from(rgba(254, 240, 152, 0.9)), to(black));
}

.diggcount {
  font-size: large;
}

.unread {
  border: 2px solid #888;
}

.reply {
  border: 2px solid #777;
}

.private {
  border: 2px solid #777;
}

.dupes {
  display: none;
}

.toggledupe {
  float: right;
}

.fold {
  font-size: 90%;
}

.fold a {
  text-decoration: none;
}

.likes {
  background: url(favorite.png) left no-repeat;
  padding-left: 20px;
}

.comments p {
  background: url(comment.png) left top no-repeat;
  padding-left: 20px;
}
